@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-fallback: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-fraunces), "sans-serif";
  --font-body: var(--font-montserrat), "inter";
}




/* html {
  font-family: var(--font-mont), var(--font-fallback);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fran), var(--font-fallback);
} */



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}